.about-head{
    background: #151823;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 100px 10%; */
    min-height: 100vh;
    box-sizing: border-box;
 
}
.about_img {

}
.about_imge{
    width: auto;
    height: 20%;
    
}
.about-card-head{
        /* justify-content: space-between; */
        padding: 20px;
        /* margin: 0 0 0 40px; */
    
}
.about-card {
        margin: 20px;
        padding: 20px;
        background: #1f2436;
        border-radius: 40px;
        color: white;
        height: 25vh;
        width: 600px;
        border: 2px solid white;
}
@media (max-width:500px){
    .about-head {
        flex-direction: column;
        padding:0px;
    }
   .about-card {
    width: auto;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 12.5px;
   }
   .about_imge {
    width: 280px;
    height: 12%;

   }
}