.card{
    background: #151823;
    padding: 70px ;
    min-height: 80vh;

}
.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
align-items: center;
text-align: center;
  
}
.body1 {
    align-items: center;
    margin-top: 40px;
}
.image {
    margin:10px 20px 10px 20px;
}
@media (max-width:500px){
    .body {
        flex-direction: column;
    }
    .image{
        margin: 10px 10px 5px 5px;
    }
}